<div class="container-fluid">
	<div class="container fixed-margin">
		<ng-form name="cadastroForm"> <wizard configuracao="menus" steps="4" valid="isValid(cadastroForm.$valid)"> <step ordem="1" title="'Configuração da visão'">
		<div class="col-md-6">
			<div class="form-group" ng-if="visio.hashid">
				<label for="codigo">Código:</label> <input id="codigo" type="text" class="form-control" name="codigo" ng-model="visio.hashid" readonly />
			</div>
			<div class="form-group" ng-class="{'has-error': cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine }">
				<label for="nome">Visão:</label> <input id="nome" type="text" class="form-control" name="nome" ng-model="visio.name" placeholder="Digite o nome da visão" required />
				<p ng-show="cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine" class="help-block">O nome é obrigatório.</p>
			</div>
			<div class="form-group">
				<label for="descricao">Descrição:</label>
				<textarea id="descricao" name="descricao" class="form-control" rows="3" cols="5" ng-model="visio.description" placeholder="Digite a descrição da visão " ></textarea>
			</div>
			<div class="form-group">
				<label for="fonte">Fonte de dados:</label>
				<select ng-class="{'has-error': cadastroForm.nome.$invalid && !cadastroForm.nome.$pristine }" class="form-control" ng-model="visio.datasource" ng-options="datasource.name for datasource in datasources track by datasource.id" required>
					<option  value="">Selecione a fonte de dados</option>
				</select>
			</div>
		</div>
		</step> <step ordem="2" title="'Definir template'">
		<div class="row">
			<div class="col-md-9 text-center">
				<div class="panel panel-default" style="min-height: 500px;">
					<div class="panel-heading">Templates</div>
					<div class="panel-body">
						<div class="row layout-line">
							<div class="col-md-4 layout-box" ng-repeat="item in templates">
								<div class="row text-left">
									<div class="radio">
										<label> <input type="radio" class="clip-unset" name="layout" ng-value="item" ng-model="selection.template" ng-click="selectTemplate()">{{item.name}}
										</label>
									</div>
								</div>
								<layout configuracao="item.configuration" preview="true">
								<div block="container.type" columns="container.column" lines="container.line" group="false" line-height="item.configuration.preview.lineHeight" preview-block="true"
									ng-repeat="container in item.containers">
									<div block="component.name" columns="component.column" lines="component.line" line-height="item.configuration.preview.lineHeight" preview-block="true"
										ng-repeat="component in container.components">
										<div class="layout layout-container layout-border">
											<div class="layout layout-container container-column">
												<div ng-if="component.type === 'table'" class="layout-number fa fa-table" title="Tipo tabela"></div>
												<div ng-if="component.type === 'image'" class="layout-number   fa fa-picture-o" title="Tipo imagem"></div>
												<div ng-if="component.type === 'list'" class="layout-number   fa fa-list" title="Tipo lista"></div>
												<div ng-if="component.type === 'text'" class="layout-number   fa fa-file-text-o" title="Tipo texto"></div>
												<div ng-if="component.type === 'title'" class="layout-number   fa fa-file-text-o" title="Tipo'título"></div>
											</div>
										</div>
									</div>
								</div>
								</layout>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center" id="layout">
				<div class="panel panel-default" style="height: 250px;">
					<div class="panel-heading">Selecionado</div>
					<div class="panel-body layout-box">
						<div class="row">
							<layout configuracao="selection.template.configuration" preview="true">
							<div block="container.type" columns="container.column" lines="container.line" group="false" line-height="selection.template.configuration.preview.lineHeight"
								preview-block="true" ng-repeat="container in selection.template.containers">
								<div block="component.name" columns="component.column" lines="component.line" line-height="selection.template.configuration.preview.lineHeight" preview-block="true"
									ng-repeat="component in container.components">
									<div class="layout layout-container layout-border">
										<div class="layout layout-container container-column">
											<div ng-if="component.type === 'table'" class="layout-number fa fa-table"></div>
											<div ng-if="component.type === 'image'" class="layout-number   fa fa-picture-o"></div>
											<div ng-if="component.type === 'list'" class="layout-number   fa fa-list"></div>
											<div ng-if="component.type === 'text'" class="layout-number   fa fa-file-text-o"></div>
											<div ng-if="component.type === 'title'" class="layout-number   fa fa-file-text-o"></div>
										</div>
									</div>
								</div>
							</div>
							</layout>
						</div>
					</div>
				</div>
				<div class="panel panel-default" style="height: 246px;">
					<div class="panel-heading">Legenda</div>
					<div class="panel-body layout-box">
						<div class="row legenda-container">
							<div>
								<i class="fa fa-table legenda"></i> Tabela de dados
							</div>
							<div>
								<i class="fa fa-picture-o legenda"></i> Foto
							</div>
							<div>
								<i class=" fa fa-list legenda"></i> Lista
							</div>
							<div>
								<i class="fa fa-file-text-o legenda"></i> Texto ou título
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</step> <step ordem="3" title="'Editar componentes'" min-height="550">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-6 container-fluid pull-left" style="max-height: 550px">
						<layout configuracao="visio.layout.configuration" preview="true">
						<div block="container.type" columns="container.column" lines="container.line" group="false" line-height="5" preview-block="false"
							ng-repeat="container in visio.layout.containers">
							<div block="component.name" columns="component.column" lines="component.line" line-height="5" preview-block="true" ng-repeat="component in container.components">
								<div class="layout-full wide_buttons" ng-click="editComponent(component)">
									<div class="button gray" ng-class="{'gray-selected':component._id === selectedComponent}" ng-click="selectComponent(component._id)">
										<span>{{component.label}}</span>
									</div>
								</div>
							</div>
						</div>
						</layout>
					</div>
					<div class="col-md-6 container-fluid pull-right">
						<div class="panel panel-info" ng-if="component.type" style="margin-top: 15px;">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="fa fa-wrench"></i> {{component.label}}
								</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label for="nome">Nome do componente:</label> <input id="nome" class="form-control" type="text" placeholder="Digite o nome do componente" ng-model="component.label" />
								</div>
								<div class="form-group">
									<label for="nome">Tipo:</label> <span ng-if="component.type === 'list'">Lista</span> <span ng-if="component.type === 'text'">Texto</span> <span
										ng-if="component.type === 'table'">Tabela</span> <span ng-if="component.type === 'image'">Imagem</span>
								</div>
								<div class="form-group" ng-if="component.type === 'text'">
									<label for="text">Texto:</label>
									<textarea id="text" class="form-control" type="text" rows="3" placeholder="Digite o conteúdo do componente" ng-model="component.data" ></textarea>
								</div>
								<div class="form-group" ng-if="component.type === 'title'">
									<label for="title">Título:</label> <input id="title" class="form-control" type="text" placeholder="Digite o título para o relatório" ng-model="component.data" />
								</div>
								<div class="form-group" ng-if="component.type === 'image'">
									<label for="caminho">Link da foto:</label> <input id="caminho" class="form-control" type="text" ng-model="component.data.path" placeholder="Digite o link da foto" />
								</div>
								<div class="form-group" ng-if="component.type === 'table' || component.type === 'list'">
									<div class="panel panel-default">
										<div class="panel-heading">Campos</div>
										<div class="panel-body" ng-if="component.data.fields.length || component.data.formulas.length">
											<ul class="list-group">
												<li ng-repeat="field in component.data.fields" class="list-group-item"><span class="label label-sm label-success" ng-if="!field.formula">{{field.label}}</span></li>
											</ul>
										</div>
										<div class="panel-footer">
											<button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">
												<i class="fa fa-hand-o-up" style="margin-right: 6px"></i>Escolher campos
											</button>
											<button class="btn btn-default" data-target=".bs-example-modal-sm" data-toggle="modal"
												ng-if="(component.data.fields.length || component.data.formulas.length)&& (component.type==='table')">
												<i class="fa fa-cog" style="margin-right: 6px"></i>Configurações da tabela
											</button>
										</div>
									</div>
									<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<h3>Escolher campos para componente</h3>
												</div>
												<div class="modal-body">
													<div class="col-md-12 form-group" style="margin-left: 13px;">
														<label>Pesquisar campos</label> <input type="text" class="form-control" placeholder="Digite o nome do campo desejado" ng-model="busca.label" />
													</div>
													<div class="col-md-3" style="margin-top: 15px;">
														<label style="margin-left: 13px; margin-bottom: 15px">Selecionar campos</label>
														<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="margin-top: 0px; max-height: 355px; overflow-y: scroll;">
															<ul class="nav bs-docs-sidenav">
																<li class="" ng-repeat="label in campos | filter:busca | orderBy:label.order"><a ng-click="addCampo(label)" ng-class="{'docs-active': label.selected}">{{label.label}}</a>
																</li>
															</ul>
														</nav>
													</div>
													<div class="col-md-8" style="padding: 10px; margin-left: 50px; margin-left: 71px; margin-top: 41px; font-size:small">
														<div class="table-responsive" id="fields">
															<table class="table table-hover">
																<thead>
																	<tr class="active">
																		<th>Nome</th>
																		<th>Campo</th>
																		<th>Expressão</th>
																		<th class="col-md-2">Ações</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="selecionado in selectedsFiltered | orderBy:selecionado.order | limitTo:totalPorPagina">
																		<td>{{selecionado.label}}</td>
																		<td>{{selecionado.to}}</td>
																		<td>{{selecionado.expression}}</td>
																		<td class="col-md-2">
																			<button class="btn btn-danger" ng-click="removeCampo(selecionado)">
																				<i class="fa fa-trash"></i>
																			</button>
																		</td>
																	</tr>
																</tbody>
															</table>
															<div class="text-center">
															<pagination style="margin:0px;" ng-if="component.data.fields.length" total-items="totalItens" ng-model="paginaAtual" style="margin-left:51px"
																items-per-page="totalPorPagina" ng-change="mudaPagina(paginaAtual)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"
																first-text="&laquo;" last-text="&raquo;"></pagination>
															</div>
														</div>
														<div ng-if="!component.data.fields.length" class="pontilhado">Nenhum campo selecionado.</div>
													</div>
												</div>
												<div class="modal-footer" style="margin-top: 55% !important">
													<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
													<button type="button" ng-click="saveFields()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
												</div>
											</div>
										</div>
									</div>
									<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallMoalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<h3>Configurações da tabela</h3>
												</div>
												<div class="modal-body">
													<ul class="nav nav-tabs nav-justified">
														<li ng-class="{'active':tab===1}"><a ng-click="setTab(1)">Totalizadores</a></li>
														<li ng-class="{'active':tab===2}"><a ng-click="setTab(2)">Criar/Editar Totalizador</a></li>
														<li ng-class="{'active':tab===3}"><a ng-click="setTab(3)">Agrupamento</a></li>
														<li ng-class="{'active':tab===4}"><a ng-click="setTab(4)">Criar/Editar Agrupamento</a></li>
													</ul>
													<div class="col-lg-12 " ng-if="tab===1" style="margin-top: 50px">
														<table class="table table-hover" ng-if="component.data.formulas.length">
															<thead>
																<tr class="active">
																	<th>Totalizador</th>
																	<th>Descrição</th>
																	<th class="hidden-480">Fórmula</th>
																	<th class="hidden-480">Campo</th>
																	<th class="hidden-480">Ações</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="field in component.data.formulas">
																	<td class="hidden-480">{{field.name}}</td>
																	<td class="hidden-480">{{field.description}}</td>
																	<td ng-if="field.type==='sum'" class="hidden-480">Soma</td>
																	<td ng-if="field.type==='rest'" class="hidden-480">Saldo</td>
																	<td class="hidden-480"><span class="label label-sm label-success" style="margin: 5px; display: inline-block">{{field.group.name}}</span></td>
																	<td class="hidden-480">
																		<button class="btn btn-default btn-flat" ng-click="removeTotalizer(field)">
																			<i class="fa fa-trash"></i>
																		</button>
																		<button class="btn btn-default btn-flat" ng-click="updateTotalizer(field)">
																			<i class="fa fa-edit"></i>
																		</button>
																	</td>
																</tr>
															</tbody>
														</table>
														<span ng-if="!component.data.formulas.length" class="col-md-12 pontilhado" ng-click="setTab(2, true)">Clique para adicionar um novo totalizador <i
															class="fa fa-plus" style="margin: 5px"></i>
														</span>
													</div>
													<div class="col-lg-12 pull-left" ng-if="tab===2" style="margin-top: 50px">
														<div class="form-group col-lg-6">
															<ng-form name="totalizadorForm" isolate-form>
															<div class="form-group">
																<label>Nome do campo:</label> <input type="text" class="form-control" placeholder="Nome do campo" ng-model="agrupador.name" name="nome" required
																	ng-class="{'has-error': totalizadorForm.nome.$invalid && !totalizadorForm.nome.$pristine }" />
																<p ng-show="totalizadorForm.nome.$invalid && !totalizadorForm.nome.$pristine" class="help-block">O nome é obrigatório.</p>
															</div>
															<div class="form-group">
																<label>Descrição:</label>
																<textarea cols="4" class="form-control" placeholder="Descrição" ng-model="agrupador.description" ></textarea>
															</div>
															<div class="form-group">
																<label>Fórmula:</label> <select name="type" ng-model="agrupador.type" class="form-control"
																	ng-class="{'has-error': totalizadorForm.type.$invalid && !totalizadorForm.type.$pristine }" required>
																	<option value="sum">Soma</option>
																	<option value="rest">Saldo</option>
																</select>
															</div>
															<div class="form-group">
																<label>Qual campo da tabela você deseja totalizar? </label>
																<div class="form-inline">
																	<select name="field" ng-model="groupSelected" class="form-control" ng-options="selected.name for selected in selectedsFiltered"
																		ng-class="{'has-error': totalizadorForm.field.$invalid && !totalizadorForm.field.$pristine }" required>
																		<option></option>
																	</select>
																	<button class="btn btn-default" ng-click="addFieldGroup(groupSelected)">
																		<i class="fa fa-plus"></i>
																	</button>
																</div>
															</div>
															<div class="form-group">
																<button type="button" class="btn btn-primary" ng-disabled="totalizadorForm.$invalid" ng-click="createGrouper(groupSelected)">Adicionar</button>
															</div>
															</form>
														</div>
														<div class="form-group col-lg-5 pull-right"></div>
														<div class="col-lg-12 " ng-if="tab===3" style="margin-top: 50px">
															<table class="table table-hover" ng-if="component.data.format.fields">
																<thead>
																	<tr class="active">
																		<th>Tipo</th>
																		<th>Nome</th>
																		<th class="hidden-480">Valor</th>
																		<th class="hidden-480">Campos</th>
																		<th class="hidden-480">Ações</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td ng-if="component.data.format.type === 'line'" class="hidden-480">Em linha</td>
																		<td ng-if="component.data.format.type === 'column'" class="hidden-480">Em coluna</td>
																		<td class="hidden-480">{{component.data.format.fieldName.name}}</td>
																		<td class="hidden-480">{{component.data.format.fieldValue.name}}</td>
																		<td class="hidden-480" ng-if="component.data.format.fields"><span class="label label-sm label-success" style="margin: 5px; display: inline-block"
																			ng-repeat="field in component.data.format.fields">{{field.name}}</span></td>
																		<td class="hidden-480">
																			<button class="btn btn-default btn-flat" ng-click="removeFormatter()">
																				<i class="fa fa-times"></i>
																			</button>
																			<button class="btn btn-default btn-flat" ng-click="updateFormat(component.data.format)">
																				<i class="fa fa-edit"></i>
																			</button>
																		</td>
																	</tr>
																</tbody>
															</table>
															<span ng-if="!component.data.format.fields" class="col-md-12 pontilhado" ng-click="setTab(4, true)">Clique para adicionar um novo agrupamento <i
																class="fa fa-plus" style="margin: 5px"></i>
															</span>
														</div>
														<div class="col-lg-12 pull-left" ng-if="tab===4" style="margin-top: 50px">
															<div class="form-group col-lg-6">
																<ng-form name="agrupamentoForm" isolate-form>
																<div class="form-group">
																	<label>Tipo:</label> <select ng-model="format.type" name="tipo" class="form-control" ng-required="true">
																		<option value="column">Em coluna</option>
																		<option value="line">Em linha</option>
																	</select>
																</div>
																<div class="form-group">
																	<label>Nome da chave:</label> <input type="text" class="form-control input-sm" name="chave" placeholder="Nome da chave" ng-model="format.fieldName.key.label"
																		ng-required="true" /> <label>Nome do valor:</label> <input type="text" class="form-control input-sm" name="valor" placeholder="Nome do valor"
																		ng-model="format.fieldValue.key.label" ng-required="true" />
																</div>
																<div class="form-group">
																	<label>Descrição:</label>
																	<textarea cols="4" class="form-control" name="description" placeholder="Nome do campo" ng-model="format.description" ></textarea>
																</div>
																<div class="form-group">
																	<label>Quais campos deseja selecionar para agrupá-los? </label>
																	<div class="form-inline">
																		<select ng-model="groupSelected" name="label" class="form-control" ng-options="label.name for label in campos">
																			<option></option>
																		</select>
																		<button class="btn btn-default" ng-click="addFieldFormat(groupSelected)">
																			<i class="fa fa-plus"></i>
																		</button>
																	</div>
																</div>
																<div class="form-group">
																	<button type="button" class="btn btn-primary" ng-click="createFormat(format)" ng-disabled="agrupamentoForm.$invalid || !formats.length">Salvar</button>
																</div>
																</form>
															</div>
															<div class="form-group col-lg-5 pull-right">
																<div class="well">
																	<label>Campos selecionados</label>
																	<ul class="list-group" ng-if="formats.length">
																		<li ng-repeat="field in formats" class="list-group-item"><span class="label label-sm label-success">{{field.name}}</span><i class="fa fa-times pull-right"
																			ng-click="removeFieldFormat(field)"></i></li>
																	</ul>
																	<span ng-if="!formats.length">Nenhum campo selecionado</span>
																</div>
															</div>
														</div>
													</div>
													<div class="modal-footer" style="margin-top: 65% !important">
														<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeTableConfig()">Concluir</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<span ng-if="!component.type">Selecione um componente para editar</span>
						</div>
					</div>
				</div>
			</div>
		</step> <step ordem="4" title="'Resumo'">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div style="margin-left: -30px">
						<h4 style="margin-left: 30px">Layout selecionado:</h4>
						<layout configuracao="visio.layout.configuration" preview="true">
						<div block="container.type" columns="container.column" lines="container.line" group="false" line-height="3" preview-block="false"
							ng-repeat="container in visio.layout.containers">
							<div block="component.name" columns="component.column" lines="component.line" line-height="3" preview-block="true" ng-repeat="component in container.components">
								<div class="layout layout-container layout-border" ng-click="editComponent(component)">
									<div class="layout layout-container container-column">
										<span>{{component.label}}</span>
									</div>
								</div>
							</div>
						</div>
						</layout>
					</div>
					<div style="margin-top: 70px">
						<ul class="list-unstyled">
							<li><strong>Nome:</strong> {{visio.name}}</li>
							<li><strong>Descrição:</strong> {{visio.description}}</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-8">
					<h4>Campos selecionados:</h4>
					<table class="table table-responsive table-hover">
						<thead>
							<tr class="active">
								<th>Área</th>
								<th class="hidden-480">Função</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="container in visio.layout.containers">
								<td ng-if="container.type === 'header'">Cabeçalho</td>
								<td ng-if="container.type === 'details'">Detalhes</td>
								<td ng-if="container.type === 'footer'">Rodapé</td>
								<td class="hidden-480">
									<table class="table table-striped">
										<thead>
											<tr class="active">
												<th>Nome do componente</th>
												<th class="hidden-480">Campos</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="component in container.components">
												<td class="hidden-480">{{component.label}}</td>
												<td class="hidden-480" ng-if="component.data.fields"><span class="label label-sm label-success" style="margin: 5px; display: inline-block !important;"
													ng-repeat="field in component.data.fields">{{field.label}}</span></td>
												<td class="hidden-480" ng-if="!component.data.fields"><span>Não possui</span></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-default" ng-click="makePreview()">Preview</button>
					<button class="btn btn-default" ng-click="saveVisio()">Salvar</button>
				</div>
			</div>
		</div>
		</step></wizard> </ng-form>
	</div>
</div>
