<div class="container-fluid">
  <div class="fixed-margin">
    <!-- <div class="container"> -->
      <div class="panel panel-default user-panel">
        <div class="panel-heading">
          <h3><i class="fa fa-cubes"></i> Módulos de dados</h3>
        </div>
        <div class="panel-body">
          <div>
            <div class="row">
              <div class="col-sm-6 col-md-4" ng-repeat="modulo in modulos">
                <div class="thumbnail bg-primary">
                    <div class="button gray" style="padding:30px" ng-click="getVisions(modulo)">
                        <h3 style="text-align: center">{{modulo.nome}}</h3>
                    </div>
                    <div class="caption" style="margin: 5px;
  margin-bottom: 30px;">
                      <div class="pull-right">
                      <a class="btn btn-primary" ng-click="updateModulo(modulo)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" data-toggle="modal" ng-click="setModulo(modulo)"  data-target="#modalModulo"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <pagination ng-if="modulos.length" total-items="totalItens" ng-model="paginaAtual" items-per-page="totalPorPagina" ng-change="mudaPagina(paginaAtual)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
          </div>
          <div ng-if="!modulos.length" class="pontilhado">Para criar um novo módulo, clique no botão "Novo módulo".</div>
        </div>
        <div class="panel-footer" style="padding:30px;">
          <button class="btn btn-default pull-right" style="margin-top: -15px;" ng-click="createModulo()">Novo módulo <i class="fa fa-plus"></i></button>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
<div id="modalModulo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmação</h4>
      </div>
      <div class="modal-body">
        Você realmente deseja excluir o módulo - {{modulo.nome}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeModulo(modulo)">Excluir</button>
      </div>
    </div>
  </div>
</div>
