<form class="form form-horizontal" name="form" ng-submit="filter(form)" novalidate>

	<div class="modal-header">
		<h4 class="modal-title">Filtros Página</h4>
	</div>
	<div class="modal-body">
	
  		<div class="form-group" ng-repeat="filter in filters track by $index">
  		
    		<label class="col-md-3 control-label">
    			<strong class="text-danger text-required" ng-if="filter.required == 1">*</strong> {{filter.label}}
    		</label>
					
			<div class="col-md-9" ng-if="filter.type == 'text'">
				<div class="col-md-12">
					<input type="text" class="form-control filter-validate" name="{{filter.key}}" ng-model="filter.values" placeholder="{{filter.label}}" ng-value="filter.values" filter-validate="filter">
				</div>
				<div class="col-md-12 filter-error" filter-validate="filter"></div>
			</div>
					
			<div class="col-md-9" ng-if="filter.type == 'number'">
				<div class="col-md-3">
					<input type="number" class="form-control filter-validate" name="{{filter.key}}" ng-model="filter.values" placeholder="{{filter.label}}" ng-value="filter.values" filter-validate="filter">
				</div>
				<div class="col-md-12 filter-error" filter-validate="filter"></div>
			</div>
			
			<div class="col-md-9" ng-if="filter.type == 'date'">
				<div class="col-md-5">
					<input type="date" class="form-control filter-validate" name="{{filter.key}}" ng-model="filter.values" placeholder="{{filter.label}}" filter-validate="filter"/>
				</div>	
				<div class="col-md-12 filter-error" filter-validate="filter"></div>
			</div>
		
			<div class="col-md-9" ng-if="filter.type == 'dropdown'">
				<div class="col-md-6">
				  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				  		{{filter.label}} <span class="caret"></span>
				  	</button>				  				  	
				  	<ul class="dropdown-menu dropdown-filter" role="menu">
	                    <li ng-repeat="value in filter.values track by $index">
	                        <a href="javascript:void(0)" block-click>
	                            <input type="checkbox" ng-model="filter.values[$index].checked" ng-checked="value.checked"> {{value.label}}
	                        </a>
	                    </li>
				  	</ul>
				</div>
			</div>
			
		</div>
				
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" >
		  	<span class="fa fa-check"></span> Pesquisar
		</button>
	</div>

</form>