<div class="modal-header">
	<h4 class="modal-title">Configuração Página</h4>
</div>
<div class="modal-body">

	<form class="form-horizontal">
	
  		<div class="form-group">
    		<label class="col-sm-2 control-label">Layout</label>
    		<div class="col-sm-2">
				<div class="radio">
				  	<label>
				    	<input type="radio" ng-model="configuration.page.layout" value="portrait"> Retrato
				  	</label>
				</div>
    		</div>
    		<div class="col-sm-2 ">
      			<div class="radio">
      				<label>
      					<input type="radio" ng-model="configuration.page.layout" value="landscape"> Paisagem
      				</label>	
      			</div>
    		</div>
  		</div>
  		
  		<div class="form-group">
    		<label class="col-sm-2 control-label">Tamanho</label>
		    <div class="col-sm-4">
		      	<select class="form-control" ng-model="configuration.page.size">
					<option value="letter">Letter</option>
					<option value="a4">A4</option>
				</select>
		    </div>
  		</div>
  		
	</form>
	
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="confirm(configuration)">
	  	<span class="fa fa-check"></span> Ok
	</button>
</div>
