<div class="fixed-margin">
    <button class="btn btn-default" ng-click="backConfiguration()">Voltar</button>
    <div style="min-height:450px !important">
        <div ng-repeat="container in vision.layout.containers | orderBy:'order'">
            <div gridster>
                <span ng-if="!container.components.length">Nenhum componente adicionado</span>
                <div gridster-item class="pontilhado" size-x="component.sizeX" row="component.row" col="component.col" size-y="component.sizeY" ng-repeat="component in container.components" ng-if="container.components.length">
                <widget data="component.data" type="component.type"></widget>
                </div>
            </div>
        </div>
    </div>
</div>
