
.user-bar{	
	background-color: #FFF;
	background-size: 100% auto;
	margin-bottom: 10px;
	box-shadow: 0px 0px 4px #3C3C3C;
}

.footer-bar{
	background-color: #FFF;
	background-size: 100% auto;
	margin-top: 10px;
	box-shadow: 0px 0px 4px #3C3C3C;
}

.centered-on-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.loading {
    text-align: center;
    color: #777;
}

.loading > span {
    padding-top: 10px;
    font-size: 22px;
}
.loading > i, .loading > span {
    display: block;
}

.loading > i {
    font-size: 30px;
}
.loading > i, .loading > span {
    display: block;
}

a:hover, a:focus{
    text-decoration: none !important;
}

.modal {z-index: 1050;}

.user-panel{
    box-shadow: 1px 1px 5px #3C3C3C;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.modal-backdrop{
  position: fixed !important;
}

.wide_buttons .button{
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  border-radius:3px;
  margin: 10px 0px 10px 0px;
  padding:15px 0px;
  text-align:center;
  text-decoration:none;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ecf0f1;
}
.button:active{
  position:relative;
  top:6px;
}

.gray{
  box-shadow: 0px 6px #7f8c8d;
  background: #95a5a6;
}
.gray:active{
  box-shadow: 0px 0px #7f8c8d;
  background: #7f8c8d;
}

.gray-selected{
  box-shadow: 0px 0px #7f8c8d;
  background: #7f8c8d;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.title-step {
    margin: 15px 15px 30px 15px;
    border-bottom: 2px solid #ECF0F1 !important;
}

.clip-unset {
    clip: unset !important;
    margin: 4px 0px 0px -20px !important;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

input[type="submit"],
input[type="button"] {
    -webkit-appearance: button;
}

select {
    -webkit-appearance: textfield;
}

@media (min-width: 768px) {
    .container {
        width: calc(100% - 24px);
    }
}

@media (min-width: 992px) {
    .container {
        width: calc(100% - 24px);
    }
}

@media (min-width: 1200px) {
    .container {
        width: calc(100% - 24px);
    }
}

.legenda {
    margin-left: 15px;
    margin-right: 5px;
}

.legenda-container {
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}

.activeList {
    text-decoration: none;
    background-color: #ECF0F1;
}

.selected-flat {
    display: block;
    float: right;
    position: absolute;
    right: 0px;
    top: 8px;
    background: transparent none repeat scroll 0% 0%;
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #2C3E50;
}

#sidebar {
    position: fixed;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.38);
    top: 65px;
    height: calc(100% - 65px);
    z-index: 5;
    width: 250px;
    overflow: hidden;
    margin-top: -10px;
}

#sidebar .sidebar-inner {
    height: 100%;
    overflow-y: auto;
    width: 300px;
}

#sidebar .sidebar-inner .si-inner {
    width: 250px;
}
/*.page-sidebar,
.page-sidebar-menu {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

.page-sidebar{
    max-height: none !important;
    background-color: #364150;
}*/

.ng-enter,
.ng-move {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.well-flat {
    background-color: #FFF;
    border-color: #E6E6E6;
    border-radius: 4px;
}

.sidebar-flat {
    background-color: rgba(44, 62, 80, 0.92);
}

body {
    padding: 0;
    margin: 0px;
	font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #444;
	background-color: #E0E0E0;
}

.fixed-margin {
    margin-top: 5%;
    margin-bottom: 5%;
}

.sticky {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
    top: 400px;
    margin-top: 30px;
}

.pontilhado {
    border: 1px dashed #000;
    text-align:center;
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: auto;
}

.container-column {
    background-color: #DDD !important;
}

.no-padding {
    padding: 0px !important;
    padding-right: 2px !important;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
    .layout-full {
        height: 100%;
        padding: 5px;
    }
    .layout {
        height: 100px;
        padding-right: 4px;
    }
    .layout-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .layout-box .row {
        margin-right: 0;
        margin-left: 0;
    }
    .layout-line {
        padding: 10px;
    }
    .layout-border {
        border: 1px solid #ddd;
    }
    .layout-container {
        height: 100%;
        padding: 4px !important;
        background-color: #fff;
    }
    .layout-container-column {
        height: 100%;
        width: 100%;
        background-color: #ddd;
    }
    .layout-number {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        line-height: 1.1;
    }
    #layout ul {
        margin-bottom: 0 !important;
    }
    #layout .layout-border {
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    #layout #detalhe .layout-border {
        border-top: 0;
    }
    #layout #detalhe .layout-container {
        padding-top: 0 !important;
    }
    .layout-container.ng-leave,
    .layout-container.ng-move,
    .layout-container.ng-enter {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }
    .layout-container.ng-leave.ng-leave-active,
    .layout-container.ng-move,
    .layout-container.ng-enter {
        opacity: 0;
    }
    .layout-container.ng-leave {
        opacity: 0;
    }
    .layout-container.ng-move.ng-move-active,
    .layout-container.ng-enter.ng-enter-active {
        opacity: 1;
    }
    .vertical-center {
        min-height: 100%;
        /* Fallback for vh unit */

        min-height: 100%;
        /* You might also want to use
                          'height' property instead.

                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.

                          In this case the parent of '.vertical-center'
                          is the <body> element */
        /* Make it a flex container */

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* Align the bootstrap's container vertically */

        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */

        width: 100%;
        /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */

        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
   /*  .report {
        background-color: #f5f5f5;
        margin-top: -30px;

        padding: 40px;
    } */
}

/* .report .page-landscape {
    background-color: #fff;
    height: 3508px;
} */

#header,
#details,
#footer {
    margin-bottom: 20px;
}

.line-separator {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

/* .main-report {
	margin: 20px;
	margin-left: -30px;
	margin-right: -30px;
} */


.shadow {
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    ;
}

.img-file-page {
    font-size: 6em;
    padding: 20px 20px 0 20px;
    cursor: pointer;
}

.img-file-page:hover {
    background-color: #E7E7E7;
}

.img-file-font {
    font-size: 20px;
}

.without-padding {
    padding: 0;
}

.without-margin {
    margin: 0;
}

.breadcrumb-border {
    border-bottom: 1px solid #CCC;
    background-color: #FFFFFF;
}
